@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

.hero {
  background-image: url('./../assets/images/landing/bg.svg');
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-blend-mode: multiply;
}
