/* .arc {
  width: 390px;
  height: 30rem;
  border: 2px solid #cccccc;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 200%, 80% 0%);
  border: 2px solid green;
}
 */

 .arc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.arc {
  width: 390px;
  height: 100%;
  border: 2px solid #cccccc;
  border-radius: 70%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 200%, 80% 0%);
  border: 2px solid green;
  position: relative;
}

.circle {
  position: absolute;
  width: 20px; /* Adjust circle size as needed */
  height: 20px; /* Adjust circle size as needed */
  background: #ff0000; /* Set the desired background color */
  border: 2px solid #00ff00; /* Set the desired border color */
  border-radius: 50%;
}